# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

# don't look for lombok.config in parent directories
config.stopBubbling = true
# add annotation to generated code so that code coverage is reported correctly
lombok.addLombokGeneratedAnnotation = true

###############################################
# disable features that we recommend not to use
###############################################

lombok.val.flagUsage = error
# use Java's var instead

lombok.var.flagUsage = error
# use Java's var instead

lombok.cleanup.flagUsage = error
# mostly equivalent to Java 7's try-with-resources

lombok.value.flagUsage = error
# replaced by records

lombok.sneakyThrows.flagUsage = error
# dangerously dangerous

lombok.log.apacheCommons.flagUsage = error
lombok.log.flogger.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
# use only slf4j

