html {
    /* "light dark" to respect OS/browser settings */
    --aura-content-color-scheme: light;

    --aura-background-color-light: #690;
    --aura-accent-color-light: #350;

    --aura-background-color-dark: #580;
    --aura-accent-color-dark: #350;

    --aura-contrast-level: 0;

    --vaadin-grid-background: rgba(255, 255, 255, 0.2);

    /* uncomment for no border around layout */
    /*--aura-app-layout-inset: 0px;*/

    vaadin-app-layout {
        background: rgba(0, 0, 0, 0.15);
    }
}

vaadin-grid::part(selected-row) {
    background-color: rgb(163, 203, 115);
}
